[user]
  name = Fab Mackojc
	email = fab.mackojc@gmail.com

[core]
  autocrlf = input
  safecrlf = true
  excludesfile = /Users/Fab/.gitignore_global

[color]
  ui = auto
  branch = auto

[color "diff"]
  meta = cyan bold
  frag = magenta bold
  old = red bold
  new = green bold

[color "status"]
  added = green
  changed = red
  untracked = cyan

[credential]
  helper = osxkeychain

[alias]
	co = checkout
  st = status
  # "Long" Logs - renders the log with high signal and low noise
  ll = log \
  --graph \
  --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%an - %cr)' \
  --date=relative
  ba = branch --all
  sh = !git-sh
  aliases = !git config --get-regexp 'alias.*' | colrm 1 6 | sed 's/[ ]/ = /'
  today = !git log --graph --all --since=midnight --author=\"$(git config user.name)\" --oneline
  yesterday = !git log --graph --all --since="day.before.yesterday.midnight" --until=midnight --author=\"$(git config user.name)\" --oneline

[push]
  default = upstream

[rebase]
  autosquash = true

[hub]
	protocol = https
