"*":
  core:
    ignoredNames: [
      ".git"
      ".svn"
      ".DS_Store"
    ]
    telemetryConsent: "no"
    themes: [
      "atom-dark-ui"
      "monokai"
    ]
  editor:
    autoIndent: true
    fontSize: 19
    invisibles: {}
    whitespace:
      ensureSingleTrailingNewline: true
      removeTrailingWhitespace: true
  "exception-reporting":
    userId: "fad5522a-bc04-3dfc-f450-4f4f35c542a0"
  metrics:
    userId: "5637177eb4e5b5e266e3404ae61e5ef363465889"
  "release-notes":
    viewedVersion: "0.75.0"
  welcome:
    showOnStartup: false
